@import "./resets";
@import "./variables";

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    $color-two 0%,
    $color-two 50%,
    $color-one 50%,
    $color-one 50%
  );
}

main {
  padding: 5em 0;
}

a {
  color: $white;
}

a,
p {
  letter-spacing: 0.5em;
}

p {
  text-transform: uppercase;
  font-weight: lighter;
  color: $white;
  font-size: 2em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
}

/* Medium devices and desktops (landscape tablets, 769px and up) */
@media only screen and (min-width: 769px) {
}
