@import "./resets";
@import "./variables";

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    $color-two 0%,
    $color-two 50%,
    $color-one 50%,
    $color-one 50%
  );
}

main {
  padding: 5em 0;
}

a {
  color: $white;
}

a,
h1 {
  letter-spacing: 0.5em;
}

h1 {
  text-transform: uppercase;
  color: $white;
  font-size: 1.7rem;
  font-weight: 200;
}